body
{
    margin: 0;
    /* background-color:rgb(0, 102, 255); */
    background:#2460a7ff ;
}
svg:not([fill])
{
    fill: currentColor;
}
#up_background
{

    background: #a2a2a1ff;
  	background-image: 
	  linear-gradient(to right bottom, 
     rgba(18, 212, 238, 0.8),
     rgba(5, 109, 255, 0.8)),
     url('https://portal.e-yantra.org/img/theme_image/theme_vb.png');
     background-repeat: no-repeat;
  	
    background-size: cover;
  	background-position: center;
  	position: relative;

}
img
{
    margin: 10px 10px;
    top: 0;
    display: inline;
}

#Heading
{
    font-size: 50px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: 0;
}

.row
{
    box-sizing: border-box;
}
.column 
{
    float: left;
    margin: 25px;
    width: 300px;
    height: 200px;
    padding: 0 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background: red;
  }
.avg-time
{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 4px black ;
    background: green;
}



table
{
    margin-top: 20px;
    position: absolute;
    border-radius: 5px;
    font-size: 25px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    height: 100px;
    max-width: 100%;
    white-space: nowrap;
    background: rgb(0, 102, 255);
}
tr{
    height: 100px;
   
}
td
{
    margin-right: 10px;
    border-radius: 10px;
}
th
{
    text-align: center;
    padding: 8px;
    color: #ffffff;
    background: #4FC3A1;
    border-radius: 10px;
    
}

#tableContent
{
    text-align: center;
    padding: 8px;
 
    font-size: 20px;
    height: 100px;
}

th:nth-child(odd)
{
    color: #ffffff;
    background: #324960;
}
tr:nth-child(odd)
{
    background: grey;
    color: white;
}

tr:nth-child(even)
{
    color: white;
    background: black;
}

tbody
{

    border-radius: 10px;
}